<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
<nav>
</nav>
<main>
    <h1>Consultorea.me</h1>

    <section>
        <h2>Lista completa de consultoras</h2>

        <ul>
            {{#consultoras}}
            <li>{{nombre}}</li>
            {{/consultoras}}
        </ul>

    </section>
</main>
<footer>
    Copyright {{anio}} Consultorea.me
</footer>
</body>

</html>
